[Unit]                                                                                                                                                                                                                                        
Description=myflask                                                                                                                                                                                                                           
                                                                                                                                                                                                                                              
[Service]                                                                                                                                                                                                                                     
User=gitlab-ce                                                                                                                                                                                                                                
Group=nginx                                                                                                                                                                                                                                   
WorkingDirectory=/home/gitlab-ce/myflask                                                                                                                                                                                                      
Environment="PATH=/home/gitlab-ce/myflask/.venv/bin"                                                                                                                                                                                          
ExecStart=/home/gitlab-ce/myflask/.venv/bin/uwsgi --ini uwsgi.ini                                                                                                                                                                         
                                                                                                                                                                                                                                              
[Install]                                                                                                                                                                                                                                     
WantedBy=multi-user.target      
