<!DOCTYPE html>
<html lang="sc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>又是元气满满的一天</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- fonts-->
    <link
            href="static/font/css?family=Encode+Sans+Condensed:200,400,500,600,700,900"
          rel="stylesheet">

</head>
<body>
<h1 class="text-intro">En ce moment chez BeCode Charleroi...</h1>
<div class="logo"><img src="static/images/becode.png" alt=""></div>

<section class="crawl">
    <div>
        <h2>Hey ho fieu ! Un petit truc à savoir ;)</h2>
        <blockquote>“Oser et faire. Il est plus facile de demander le pardon
            après, que la permission avant.”
        </blockquote>
        <p>L’homme n’aurait jamais pu marcher sur la Lune sans l’aide d’une
            femme, en l’occurrence Margaret Hamilton qui a corrigé à la main les
            programmes de la mission Apollo 11.
        </p>
        <p>Elle avait ainsi anticipé certaines pannes des composants
            électroniques et fait en sorte que la commande pour l’alunissage
            reste fonctionnelle. C’est à elle et son travail que l’on doit le
            succès de la mission.
        </p>
        <p>A l’époque, il faut savoir que la partie développement logiciel était
            souvent réservée aux femmes car jugée moins importante.
        </p>
        <blockquote>"Un petit extrait de Star Wars: The Last Jedi"</blockquote>
        <iframe width="800px" height="450px"
                src="https://live.bilibili.com/3963033"
                frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>

        <audio controls="controls" autoplay="autoplay">
        <source src="http://m10.music.126.net/20200827210234/63d67973b2696295cb3230cc94e22c4f/ymusic/ac16/5b38/006c/c0f3c595da90066b2e46dc89c214d39d.mp3
        " type="audio/mpeg" />
        Your browser does not support the audio element.
        </audio>
        <p>Tu trouve ça cool ? va voir ici</p>
        <a href="https://energygreek.github.io">Greek Github</a>
    </div>

</section>
<div class="btn"><a href="https://www.beautyflying.cn/home">欢迎光临</a></div>
</body>
</html>
